@page "/"

<h1>Refinitiv Data Platform(RDP) Sample Application</h1>

Welcome to RDP Real-Time Pricing App.
You can <a href="login">Login</a> to Refinitiv Data Platform.
<br />
This application allow you to request a Real-Time streaming price from RDP Websocket Streaming server.