@inherits LayoutComponentBase
<RadzenDialog/>
<RadzenNotification/>
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://developers.refinitiv.com/refinitiv-data-platform" target="_blank">About RDP</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>